* {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

:root {
    --maincolor: #fafafa;
    --secondcolor: #4D96A9;
    --thirdcolor: #855FB1;
    --secondcolor1: #8FE3F9;
    --thirdcolor1: #D9B8FF;
    --textcolormain: #28283D;
    --textcolorsecond: #87879D;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

svg {
    width: 375px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
}

.image {
    width: 375px;
    height: 153px;
    margin-top: 54px;
}

.parent-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 48px;
    font-size: 40px;
    width: 327px;
    height: 88px;
    text-align: center;
}

.paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 327px;
    height: 78px;
    color: #87879D;
    margin-top: 24px;
    font-size: 16px;
}

.button1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 29px;
    width: 193px;
    height: 58px;
    background-color: var(--secondcolor);
    border: none;
    color: #FFFFFF;
    font-size: 1rem;
    margin-top: 32px;
    font-weight: bold;
}

.button2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 29px;
    width: 139px;
    height: 58px;
    background-color: var(--thirdcolor);
    margin-top: 16px;
    border: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
}

.button1 div {
    color: var(--secondcolor1);
    display: inline-block;
}

/*TRULUS*/

.line-one-marker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 327px;
    margin-bottom: 64px;
}
.line-one {
    width: 1px;
    height: 84px;
    background-color: #d8d8d8;
    margin: 0 auto;
}

.marker-one {
    padding: 15px 17.5px 15px 17.5px;
    border-radius: 29px;
    width: 56px;
    height: 56px;
    background-color: #FAFAFA;
    color: #87879D;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    border: 1px solid rgba(135, 135, 157, .25);
}


.item2 {
    grid-area: item2;
    background-color: #FAFAFA;
    width: 327px;
    height: 862px;
}

.images-first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 327px;
    height: 143px;
}

.images-second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 327px;
    height: 143px;
    margin-top: 24px;
}

.images {
    width: 151px;
    height: 143px;
    border-radius: 24px;
}

.item1-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 327px;
    height: 284px;
    margin-top: 64px;
}

.item1-text h3 {
    color: #4D96A9;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 4px;
    height: 26px;
    margin: 0;
    padding-bottom: 24px;
}

.item1-text h2 {
    color: #28283D;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    margin: 0;
    padding-bottom: 32px;
}

.item1-text p {
    color: #87879D;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin: 0;
}



.item3 {
    top: 100px;
    background-image: url(/assets/images/bg.svg);
    background-repeat: no-repeat;
    width: 375px;
    height: 428px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4D96A9;
    position: relative;
}

.line-two {
    width: 1px;
    height: 84px;
    background-color: #D8D8D8;
    margin: 0 auto;
}

.item3 .marker-two {
    font-size: 16px;
    line-height: 26px;
    font-weight: 900;
    text-align: center;
    color: #87879D;
    background-color: #FAFAFA;
    padding: 15px 17.5px 15px 17.5px;
    border-radius: 29px;
    width: 56px;
    height: 56px;
    border: 1px solid rgba(135, 135, 157, .25);
}

.line-two-marker {
    position: absolute;
    top: -111px;
}

.item3 h2 {
    color: #fafafa;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    width: 327px;
    height: 72px;
    text-align: center;
    margin: 0;
    margin-top: 92px;
}

.item3 p {
    color: #fafafa;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    width: 327px;
    text-align: center;
    margin: 0;
    padding-top: 24px;
}

.item3 button {
    border-style: none;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    background-color: #855FB1;
    padding: 16px 40px 16px 40px;
    border-radius: 29px;
    line-height: 26px;
    height: 58px;
    width: 193px;
    margin-top: 32px;
}

.item3 button div {
    color: #D9B8FF;
    display: inline;
}